/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.main-info {
  border-radius:5px;
  border:3px solid #555555;
  /*background:#777777;*/
  color:black;
  padding:10px;
}

.chart-container {
  border:3px solid #555555;
  border-radius:5px;
}

.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #444444;
}

div[class*="col-"] {
  padding: 15px;
}

.navbar {
  background: #444444;
}
.navbar-brand {
  padding: 5px;
}
.navbar-text {
  margin:0px;
  margin-left: 15px;
  padding:8px;
}

.dropdown-menu {
  left: 50%;
  right: auto;
  transform: translate(-50%, 0);
}

.img-responsive {
  height: 40px;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 60%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}
.circle {
  background-color: blue;
  height: 100%;
  border-radius: 100%;
  text-align: center;
  line-height: 200px;
  font-size: 30px;
}
.circle span {
  line-height: normal;
  display:inline-block;
  vertical-align: middle;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}